@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root  {
    --light-blue-bg: #B7C9F2; 
    --dark-text: #3C588E;
    --accent-color: #5F7DF3;
    --back-main-color: #FAFAFA;
}

body.dark-theme{
    --light-blue-bg: #091227; 
    --dark-text: #FAFAFA;
    --accent-color: #5F7DF3; 
    --back-main-color: #192B50;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sant-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: var(--light-blue-bg);
    color: var(--dark-text);
    min-height: 100vh;
    overflow-x: hidden; /* Prevents horizontal scroll from cloud placement */
    position: relative;
    min-height: 100vh;
}

.white-central-container {
    width: 70%; 
    background-color: var(--back-main-color); 
    margin: 0 auto; 
    min-height: 100vh; 
    position: relative; 
    z-index: 3; 
    box-shadow: 0 0 10px var(--accent-color); /* Необов'язкова легка тінь */
}




/*Custom Scroll Bar CSS*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--dark-text);
}
::-webkit-scrollbar-thumb{
    background: var(--accent-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--back-main-color);
}

/* ☁️ Cloud Backgrounds (Хмарки) ☁️ */

/* Left Cloud Element */
.cloud-bg-left{
    position: absolute;
    top: -1rem;
    left: -9rem;

    width: 22.5625rem;
    height: 12.54956rem;
    flex-shrink: 0;
    z-index: 4; 
}

/* Right Cloud Element */
.cloud-bg-right{
    /*top: 50%;
    right: 0;
    left: auto;
    transform: translateY(-50%);
    width: 25rem;
    height: 15rem;*/
    position: absolute;
    top: 40rem;
    left: 92rem;
    width: 44.25488rem;
    height: 17.375rem;
    flex-shrink: 0;
    z-index: 4; 
}


/* Navigation Bar */
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    z-index: 20;
    background-color: var(--light-blue-bg);
    border-radius: 0 0 0.5625rem 0.5625rem;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    font-weight: 600;
    font-size: 2.9rem;
    letter-spacing: 1px;
}
.logo a{
    color: var(--dark-text);
    transition: color 0.3s;
}
.logo a:hover {
    color: var(--accent-color);
}

.links {
    display: flex; 
    gap: 1.87rem;
}

.link a{
    color: var(--dark-text);
    text-align: center;
    font-family: Poppins;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 1;
    transition: color 0.3s;
}

.link a:hover {
    color: var(--accent-color); 
}

#theme-toggle-btn {    
    border: none; 
    background: none; 
    outline: none; 
}

.theme-toggle i {
    font-size: 1.5em;
    cursor: pointer;
    color: var(--dark-text); /* Колір сонечка */
}

/* Home Section (Main Content) */
section {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    position: relative;
}

.cloud-bg-ava {
    position: absolute;
    /* Центруємо хмарку відносно фото */
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 47.6065rem;
    height: 21.625rem;
    z-index: 2; /* Між фоном і фото */
}
.cloud-bg-ava img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image {
    width: 25.25rem; /* Розмір кола-фото */
    height: 25.25rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 0; /* Збільшуємо відступ до тексту */
    border: 5px solid var(--back-main-color); /* Біла облямівка */
    position: relative;
    z-index: 3; /* Вище хмарки */
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Text and Title */
.greeting {
    color: var(--dark-text);
    text-align: center;
    font-size: 1.875rem;
    font-weight: 500;
}

.job {
    display: inline-block;
    text-align: center;
    background-color: var(--dark-text);
    color: var(--back-main-color);
    padding: 5px 15px;
    margin: 10px 0 20px;
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 0.9375rem;
}

/* Social Links */
.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    font-size: 1.8em;
    color: var(--dark-text);
    text-decoration: none;
    transition: color 0.3s;
}

.social-icon:hover {
    color: var(--accent-color);
}

/*ABOUT SECTION*/

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10.87rem;
}

section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 3.12rem;

}

section .title span{
    color:var(--accent-color);
    font-size: 2.25rem;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section .title span::after{
    content: '';
    position: absolute;
    height: 0.4375rem;
    width:120%; 
    background: var(--light-blue-bg);
    left: 50%; 
    transform: translateX(-50%); 
    bottom: 0;
    border-radius: 1.9rem;
}

.about-details {
    display: flex;
    justify-content: space-around; 
    gap: 11.5rem; 
    width: 100%; 
    margin-bottom: 3.38rem; 
}

.about-details .left,
.about-details .right {
    flex-basis: 48%; 
    text-align: left;
}

.about-details .topic {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-text);
    margin-bottom: 1rem;
}

.about-details p {
    font-size: 1.3125rem;
    line-height: 1.6;
    color: var(--dark-text);
    font-weight: 400; 
}

.approach-details{
    width: 100%;
    font-size: 1.3125rem;
    line-height: 1.6;
    color: var(--dark-text);
    font-weight: 400;
}

/*Projects section*/
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10.87rem;
    scroll-margin-top: 100px;

}

.projects-details{
    width: 100%;
    text-align: left;
    line-height: 1.6;
    font-size: 1.3125rem;
}

.projects-details .top{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 11.22rem ;
    margin-bottom: 1rem;
}

.projects-details .extra{
    font-style: italic;
    font-size: 1.4375rem;
}

.projects-details .topic{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-text);
    margin-bottom: 1rem;
}

.projects-details .explanation,
.projects-details .role,
.projects-details .focus{
    margin-bottom: 3rem;
}

.projects-details .focus {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    gap: 3rem; 
}

.projects-details .focus-lists{
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    gap: 10rem; 
}


/*SKILLS section*/

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10.87rem;
    scroll-margin-top: 100px;
}

.skills-details,
.edu-details {
    display: flex;
    justify-content: space-around; 
    gap: 11.5rem; 
    width: 100%; 
    margin-bottom: 3.38rem; 
}

.skills-details .left,
.skills-details .right,
.edu-details .left,
.edu-details .right {
    flex-basis: 48%; 
    text-align: left;
}

.skills-details .topic,
.edu-details .topic {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-text);
    margin-bottom: 1rem;
}

.skills-details li,
.edu-details li {
    font-size: 1.3125rem;
    line-height: 1.6;
    color: var(--dark-text);
    font-weight: 400; 
}

/*buttons*/

section .button{
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

section .button button{
    outline: none;
    padding: 2px 20px;
    border-radius: 1rem;
    font-size: 1.3125rem;
    font-weight: 500;
    background: var(--accent-color);
    color: var(--back-main-color);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;

    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    min-width: 14.6875rem;
    justify-content: center;
}

section .button button:hover{
    border-color:var(--dark-text);
    background-color:var(--light-blue-bg);
    color: var(--dark-text);
}


/*Contact me*/
.contact{
    min-height: 50vh;
}

.contact .contact-details{
    font-size: 1.3125rem;
    line-height: 1.6;
}
.contact-details p,
.contact-details a{
    color: var(--dark-text);
    font-weight: 600; 
}
/*FOOTER*/
footer{
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: center; 
    align-items: center;
    padding: 20px 40px;
    z-index: 20;
    background-color: var(--light-blue-bg);
    border-radius: 0.5625rem 0.5625rem 0 0;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 80px;
}

.footer-icon {
    font-size: 2.5rem;
    color: var(--dark-text);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-icon:hover {
    color: var(--accent-color);
}
